.product-card {
    border:solid 1px lightgrey;
    box-sizing: border-box;
    background-color: white;
    margin: 15px;
    width: 250px;
    height: 350px;
   }

.product-card .media {
 width:100%;
 max-width:800px;
 display:flex;
 justify-content:center
}
.product-card .media img {
 width:250px;
 height: 250px;
}

.product-card .product-name {
    padding-left: 10px;
    padding-top: 10px;
}

.product-card .product-price {
    padding-left: 10px;

}

.product-card .add  {
    width: 20px;
    height: 20px;
}

.product-card .remove  {
    width: 20px;
    height: 20px;
}

.product-buttons {
    padding: 5px;
}