.product-card {
    border:solid 1px lightgrey;
    box-sizing: border-box;
    background-color: white;
    margin: 0px 20px 20px 0px;
    width: 250px;
    height: 350px;
}

.detail-product-card {
    background-color: white;
    max-width: 800px;
    height: 700px;
}

.detail-product-card .media {
    max-width: 800px;
}

.detail-product-card .amount {
    background-color: orange;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    width: 25px;
    height: 25px;
    justify-content: center;
    display: flex;
}

.product-card .amount {
    background-color: orange;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    width: 25px;
    height: 25px;
    justify-content: center;
    display: flex;
}

.detail-product-card .product-information {
    margin: 5px;
}

.detail-product-card .product-description {
    width: 50%;
}

.detail-product-card .media img {
    width: 800px;
    max-height: 700px;
}

.detail-product-card .product-buttons .add,
.detail-product-card  .product-buttons .remove {
    float: right;
    border: 2px solid #00eca9;
    background-color: whitesmoke;
    color: #00eca9;
    margin: 5px;
}

.product-card .media {
 width:100%;
 max-width:800px;
 display:flex;
 justify-content:center
}

.product-card .product-information {
    width: 50%;
    float: left;
    left: 0;
}

.product-card .media img {
 width: 250px;
 height: 250px;
}

.product-card .product-name {
    padding-left: 10px;
    padding-top: 10px;
}

.product-card .product-price {
    padding-left: 10px;

}

.product-card .add  {
    width: 20px;
    height: 20px;
}

.product-card .remove  {
    width: 20px;
    height: 20px;
}

.product-buttons {
    width: 50%;
    float: right;
    right: 0;
    padding: 5px;
}

.product-buttons .add,
.product-buttons .remove {
    float: right;
    border: 1px solid #00eca9;
    background-color: white;
    color: #00eca9;
    margin: 5px;
}