.product-grid {
    display: flex;
    justify-content: space-around;
    
}

.product-grid .content {
    display: flex;
    flex-wrap: wrap;
    width: 58%;

}

.product-grid .content .title {
    flex-basis: 100%;
}

.product-grid .product-card {
    height:350px;
    width:250px;
    background-color: white;
}