.hero {
    display: flex;
    justify-content: center;
}

.hero .content {
    background-color: #00c385;
    color: white;
    width: 58%;
    height: 350px;
}

.hero .content .text {
    display: flex;
    justify-content: center;
    float: left;
    width: 75%;
    height: 100%;
}

.hero .content .text .intro {
    float: left;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;

}

.hero .content .text .intro h1 {
    font-size:60px;
    font-weight:600;
}

.hero .content .text .intro p {
    font-size:20px;
    font-weight:400;
}

.hero .content .media {
    display: flex;
    justify-content: center;
    margin-top: 115px;
}

.hero .content .hero-img {
    width: 120px;
    height: 120px;
}